<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/main.css?1494609357" type="text/css">
<title>xxx</title>
<script type="text/javascript" src="./js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="./js/jquery.cookie.js"></script>
<script type="text/javascript" src="./js/jquery.md5.js"></script>
<script type="text/javascript" src="./js/cfg.js"></script>
<script type="text/javascript" src="./js/jquery.query.js"></script>
<script type="text/javascript" src="./js/util.js?1454301113"></script>
<script type="text/javascript" src="./js/public.js?1461295407"></script>
<script type="text/javascript" src="./js/encrypt.js?1412787720"></script>
<script type="text/javascript" src="./js/PageStore.js?1418317466"></script>
<script type="text/javascript" src="./js/toast.js?1494520361"></script>
<script type="text/javascript" src="./js/global.js?1418273744"></script>
<script src="3rd/artTemplate/template.js"></script>
<body> -->

<script type="text/javascript">
$(function(){
    // 订单详细信息窗口
    var OrderDetail = new function(){
        var THIS = this;
        // var $doing = $("#id_order_detail_box .doing");
        var $doing = $("#id_doing_1498213101");
        var box = $.FloatBox($("#id_order_detail_box"), {is_top:true});
        var cur_order_info = {};
        var close_callback_func = null;
        var $seat_name = $("#id_order_1494523635 .seat_name .value");
        var $customer_num = $("#id_order_1494523635 .customer_num .value");
        var $order_time = $("#id_order_1494523635 .order_time .value");
        var $order_id = $("#id_order_1494523635 .order_id .value");
        var $order_status = $("#id_order_1494523635 .order_status_txt");
        var $order_fee = $("#id_order_fee_1497446627");
        var $order_waiver_fee = $("#id_order_waiver_fee_1497541300");
        var $order_payable = $("#id_order_payable_1497541311");

        console.log("OrderDetail");

        function Open(order_info, close_callback)
        {
            // console.trace();
            close_callback_func = close_callback;

            $doing.html("");

            if(!order_info
                ||!order_info.food_list
                || 0 == order_info.food_list.length)
            {
                window.Toast.Show("<font color=red>请先择餐品</font>");
                return;
            }

            cur_order_info = order_info;

            // 桌号
            $seat_name.Value(cur_order_info.seat.seat_name||"")
                      .data("seat_id", cur_order_info.seat.seat_id);

            // 人数
            $customer_num.Value(cur_order_info.customer_num||"");

            // 人数选择框
            if( cur_order_info.seat.seat_price > 0
                && OrderStatus.CanModify(cur_order_info.order_status)
                && $customer_num.Int() == 0)
            {
                setTimeout(function(){
                    OpenCustomerSelectBox();
                }, 600);
            }

            // 用餐方式
            Util.SetCheckboxValue("name_dine_way_1494522528", cur_order_info.dine_way);

            // 支付方式
            Util.SetCheckboxValue("name_pay_way_1494651781", cur_order_info.pay_way);

            // 下单时间
            if(cur_order_info.order_time)
            {
                $order_time.html(Util.TimeTo(cur_order_info.order_time, "yyyy-MM-dd hh:mm"))
                           .data("order_time", cur_order_info.order_time);
            }
            else
            {
                $order_time.html('<span class="italic gray small">下单后生成</span>')
                           .data("order_time", "");
            }

            // 订单号
            if(cur_order_info.order_id)
            {
                $order_id.html(cur_order_info.order_id)
                         .data("order_id", cur_order_info.order_id)
                         .css("font-size", "x-large");
            }
            else
            {
                $order_id.html('<span class="italic gray small">下单后生成</span>')
                         .data("order_id", "")
                         .css("font-size", "");
            }

            // 订单状态
            $("#id_order_detail_box input").Disabled(false);
            if(Util.IsDefine(cur_order_info.order_status))
            {
                $order_status.html(OrderStatus.toNoteString(cur_order_info.order_status))
                             .data("order_status", cur_order_info.order_status)
                // 设置ui状态
                if(!OrderStatus.CanModify(cur_order_info.order_status))
                {
                    // 只返回按钮可用
                    $("#id_order_detail_box input").Disabled(true);
                    $("#id_back_1498212725").Disabled(false);
                }
            }
            else
            {
                $order_status.html("").data("order_status", undefined);
            }

            // 餐品信息列表
            CreateFoodList();

            // 其它费用信息
            CreateOtherList();

            CalOrderFee();

            box.Open();
            $("#id_order_detail_box").css({
                top   : 0,
                left  : 0
            });
        }
        THIS.Open = Open;

        function Close()
        {
            SyncFromUi();
            box.Close();
        }

        function OpenCustomerSelectBox()
        {
            var cur_num = $("#id_order_1494523635 .customer_num .value").Int();
            window.CustomerNumBox.Open(cur_num, function(num){
                num = parseInt(num || 0);
                $("#id_order_1494523635 .customer_num .value").Value(num);
                CreateOtherList();
                cur_order_info.customer_num = num;
                SyncFromUi();
            })
        }

        function CreateFoodList()
        {
            var order_info = cur_order_info;
            if(!order_info.food_list
                || !order_info.food_list
                || 0 == order_info.food_list.length)
            {
                return;
            }
            var data = {
                list : order_info.food_list
            }
            for(var i in order_info.food_list)
            {
                var item = order_info.food_list[i];
                item.food_price = Util.Float(item.food_price);
                item.food_price_sum = Util.Float(item.food_price_sum);
            }

            var html = template('tp_order_food_list', data);
            $("#tp_order_food_list").prevAll(".line").remove();
            $(html).insertBefore("#tp_order_food_list");

            // 餐品数量、总价
            $("#id_food_num_all_1497374266").html(order_info.food_num_all);
            $("#id_food_price_all_1497374266").html(Util.Float(order_info.food_price_all));

            // 如在其它费用，下面会再计算
            cur_order_info.order_fee = cur_order_info.food_price_all;
        }

        function CreateOtherList()
        {
            var customer_num = $("#id_order_1494523635 .customer_num .value").Int();

            // 没有餐位费时，不需要显示
            if(!cur_order_info.seat
                || 0 == cur_order_info.seat.seat_price
                || 0 == customer_num )
            {
                $("#id_1497378407").hide();
                return;
            }
            else
            {
                $("#id_1497378407").show();
            }
            var list = [
                {
                    food_id        : "11",    // 特殊的id  <<<<<<<<
                    food_name      : "餐位费",
                    food_price     : cur_order_info.seat.seat_price,
                    food_num       : customer_num,
                    food_price_sum : Util.Float(cur_order_info.seat.seat_price * customer_num),
                }
            ];
            var data = {
                list : list
            }

            var other_num_all = 0;
            var other_price_all = 0;

            for(var i in list)
            {
                var item = list[i];
                other_num_all += item.food_num;
                other_price_all += item.food_price_sum;
            }

            // 计算订单费用
            cur_order_info.order_fee = parseFloat(cur_order_info.food_price_all) + parseFloat(other_price_all);
            CalOrderFee();

            $("#id_other_num_all_1497374360").Value(other_num_all);
            $("#id_other_price_all_1497374360").Value(Util.Float(other_price_all));

            var html = template('tp_order_other_list', data);
            $("#tp_order_other_list").prevAll(".line").remove();
            $(html).insertBefore("#tp_order_other_list");
        }

        function CalOrderFee()
        {
            var order_fee = parseFloat(cur_order_info.order_fee||0);
            $order_fee.Value(Util.Float(order_fee));

            var order_waiver_fee = parseFloat(cur_order_info.order_waiver_fee||0);
            $order_waiver_fee.Value(Util.Float(order_waiver_fee));

            var order_payable = order_fee - order_waiver_fee;
            $order_payable.Value(Util.Float(order_payable));
        }

        // 记下用户输入值，以便下次打开时直接显示
        function SyncFromUi()
        {
            cur_order_info.order_time   = $("#id_order_1494523635 .order_time .value").data("order_time");
            cur_order_info.order_status = $("#id_order_1494523635 .order_status_txt").data("order_status");
            cur_order_info.customer_num = $("#id_order_1494523635 .customer_num .value").Int();
            cur_order_info.dine_way     = $("#id_order_1494523635 .dine_way .value:checked").Int();
            cur_order_info.pay_way      = $("#id_order_1494523635 .pay_way .value:checked").Int();
            if($.isFunction(close_callback_func))
            {
                close_callback_func(cur_order_info);
            }
        }

        // 重新下单
        function ReOrdering()
        {
            cur_order_info = {};
            window.CacheOrder.Clear();
            // window.MenuDir.FreshOrderingInfo();
            window.MenuList.Search(); // 刷新界面
            box.Close();
        }
        THIS.ReOrdering = ReOrdering;

        function Save()
        {
            SyncFromUi();

            if("" === cur_order_info.customer_num)
            {
                var msg = "请填写用餐人数";
                window.Toast.Show(msg);
                $doing.html(msg).SetErrStyle();
                return;
            }
            $doing.show().html("正在提交...").SetPromptStyle();
            Util.EncSubmit("order_save.php",
                {
                    save           : true,
                    customer_id    : cur_order_info.customer_id||"",
                    order_id       : cur_order_info.order_id||"",
                    shop_id        : cur_order_info.shop_id||"",
                    dine_way       : cur_order_info.dine_way||"",
                    pay_way        : cur_order_info.pay_way||"",
                    seat_id        : cur_order_info.seat.seat_id||"",
                    customer_num   : cur_order_info.customer_num||"",
                    food_num_all   : cur_order_info.food_num_all||"",
                    food_price_all : cur_order_info.food_price_all||"",
                    food_list      : $.Json.toStr(cur_order_info.food_list),
                    seat_price     : cur_order_info.seat.seat_price,
                    order_fee      : cur_order_info.order_fee,
                },
                function(resp){
                    if(-30025 == resp.ret)
                    {
                        var msg = errcode.toString(resp.ret) + ": " + resp.data.food_name
                        $doing.html(msg).SetErrStyle();
                        return;
                    }
                    if(resp.ret < 0)
                    {
                        var msg = errcode.toString(resp.ret)
                                + ".[<a class='blue hand' href='javascript:window.OrderDetail.ReOrdering();'>重新下单</a>]"
                        $doing.html(msg).SetErrStyle();
                        return;
                    }
                    //
                    cur_order_info.order_id = resp.data.order_id;
                    $("#id_order_1494523635 .order_id .value")
                            .Value(resp.data.order_id)
                            .data("order_id", resp.data.order_id)
                            .css("font-size", "x-large");
                    //
                    cur_order_info.order_time = resp.data.order_time;
                    if(Util.IsDefine(resp.data.order_time))
                    {
                        $("#id_order_1494523635 .order_time .value")
                                .Value(Util.TimeTo(resp.data.order_time, "yyyy-MM-dd hh:mm"))
                                .data("order_time", resp.data.order_time);
                    }
                    //
                    cur_order_info.order_status = resp.data.order_status;
                    if(Util.IsDefine(resp.data.order_status))
                    {
                        $("#id_order_1494523635 .order_status_txt")
                                .Value(OrderStatus.toNoteString(resp.data.order_status))
                                .data("order_status", resp.data.order_status);
                    }
                    if(!resp.data.order_payable)
                    {
                        $doing.html("金额出错").SetErrStyle();
                        return;
                    }

                    var order_payable_db = Util.Float(resp.data.order_payable);
                    if(order_payable_db < 0)
                    {
                        $doing.html("金额出错").SetErrStyle();
                        return;
                    }
                    var order_payable_ui = $order_payable.Float();
                    if(order_payable_db != order_payable_ui)
                    {
                        cur_order_info.order_waiver_fee = resp.data.order_waiver_fee||0;
                        $order_waiver_fee.Value(Util.Float(cur_order_info.order_waiver_fee));

                        $order_payable.Value(order_payable_db);
                    }
                    //
                    $doing.html("下单成功").SetOkStyle();
                    window.Toast.Show("提交成功");
                    if(cur_order_info.pay_way == PayWay.WEIXIN)
                    {
                        var param = encodeURIComponent($.Json.toStr({
                            'body'         : window.ShopInfo.ShopName() + "[" + resp.data.order_id + "]",
                            // 'out_trade_no' :  window.ShopInfo.ShopId() + "_"
                            //                   + window.CustomerInfo.CustomerId() + "_"
                            //                   + resp.data.order_id,
                            'out_trade_no' : resp.data.order_id,
                            'order_id'     : resp.data.order_id,
                            'sub_mch_id'   : window.ShopInfo.GetSubMchId(),
                            'total_fee'    : resp.data.order_payable * 100, // 转为分
                            'openid'       : $.query.get('openid'),
                            'attach'       : $.Json.toStr({
                                                'order_id' : resp.data.order_id
                                             }),
                            'referer'      : (location.origin + location.pathname + "?back=1"
                                             + "&seat=" + cur_order_info.seat.seat_id
                                             + "&shop_id=" + cur_order_info.shop_id
                                             + "&order_id=" + resp.data.order_id)
                            // 'referer'      : location.origin + "/wx_pay_result.php" + "?order_id=" + resp.data.order_id""
                        }));
                        $("<a>").attr("href", "http://wx.jzzwlcm.com/wx_pay1496594793.php?p=" + param).get(0).click();
                    }

                    SyncFromUi();
                }
            );
        }

        function Init()
        {
            $("#id_order_1494523635 .customer_num .value").click(function(){
                OpenCustomerSelectBox();
            })

            // 单选的checkbox
            Util.SetSelectOneByName("name_dine_way_1494522528");
            Util.SetSelectOneByName("name_pay_way_1494651781");

            // 是否开通了微信支付
            if(!window.ShopInfo.IsSupportWexinPlay())
            {
                $("#id_order_1494523635 .pay_way .weixin").hide();
            }

            // 点击元素时，实时同步
            $("#id_order_detail_box .hand").click(function(){
                SyncFromUi();
            });

            // // 如果有订单参数，直接打开订单
            // var back = $.query.get('back');
            // var order_info = function(){
            //     order_id = $.query.get('order_id');
            //     console.log("xxxxxxxxx:", order_id);
            //     if(!order_id)
            //     {
            //         return;
            //     }
            //     $doing.html("正在加载数据...").show().SetPromptStyle();
            //     Util.EncSubmit("order_get.php",
            //         {
            //             orderinfo : true,
            //             order_id  : order_id
            //         },
            //         function(resp){
            //             if(resp.ret < 0)
            //             {
            //                 $doing.html(errcode.toString(resp.ret)).show().SetErrStyle();
            //                 return;
            //             }
            //             window.OrderDetail.Open(resp.data.info, null); //
            //             $doing.html("");
            //         }
            //     );
            // }();
        }
        // THIS.Init = Init;

        // $("#id_order_1494498145 .ctrl .ok").click(function(){
        $("#id_ok_1498212735").click(function(){
            Save();
        })

        // $("#id_order_1494498145 .ctrl .close").click(function(){
        $("#id_back_1498212725").click(function(){
            Close();
        })

        Init();
    }//end of var OrderDetail = new function(...
    window.OrderDetail = OrderDetail;
});
</script>


<style type="text/css">
#id_order_detail_box {
    display: none;
    background-color: white;
    font-size: 1.601rem;
    width: 100%;
    height: 100%;
}
#id_order_detail_box .box {
    padding: 1rem;
    border: 0.3rem solid #BDDD60;
}

#id_order_detail_box .split_line {
    background: gray;
    height: 0.1rem;
    margin: 0.50342rem 0;
}

#id_1498366734 {
    margin: 0.2rem 0;
}
#id_doing_1498213101 {
    background-color: #c8d8c7;
}
</style>
<div id="id_order_detail_box">
<div class="box">


<div id="id_1498366734">
<input type="button" id="id_back_1498212725" value="<<返回" />
<input type="button" id="id_ok_1498212735" value="确认订单" />
</div>
<div id="id_doing_1498213101" class="doing txt_center"></div>
<div style="clear:both"></div>

<div class="split_line"></div>


<style type="text/css">
#id_order_1494523635 {
    font-size: 1.8rem;
}
#id_order_1494523635 .line {
    float: left;
}
#id_order_1494523635 .seat_name .value,
#id_order_1494523635 .customer_num .value {
    /*height: 1.6rem;*/
    width: 3rem;
    padding: 0 0.1rem;
    font-size: 1.7901rem;
}
#id_order_1494523635 .title {
    width: 8rem;
    text-align: right;
    padding-right: 0.3019rem;
    white-space: nowrap;
}
#id_order_1494523635 .customer_num .title {
    width: 15.001rem;
}
#id_order_1494523635 .customer_num .value {
    border: 1px solid #DEDEDE;
    width: 2.307655rem;
    height: 1.99073rem;
    text-align: center;
    border-radius: 0.6rem;
}
#id_order_1494523635 label {
    vertical-align:middle;
}
#id_order_1494523635 label input {
    width: 1.7rem;
    height: 1.7rem;
    vertical-align:middle;
    margin-left: 0;
    margin-top: -0.1rem;
}
</style>
<div id="id_order_1494523635">
    <table border="0" width="98%">
        <tr>
            <td class="title" width="20%">桌号:</td>
            <td class="seat_name" width="30%"><span class="value">待定</span></td>
            <td class="title">人数:</td>
            <td class="customer_num" width="20%">
                <!-- <input type="text" class="value hand hide" readonly="readonly" /> -->
                <div type="text" class="value hand" readonly="readonly" /></div>
            </td>
        </tr>
        <tr>
            <td class="title">用餐方式:</td>
            <td colspan="3" class="dine_way" valign="middle">
                <label>
                    <input type="checkbox" name="name_dine_way_1494522528" class="value hand" value="1" />在店吃&nbsp;
                </label>
                <label>
                    <input type="checkbox" name="name_dine_way_1494522528" class="value hand" value="2" />打包
                </label>
            </td>
            <!-- <td></td>
            <td></td> -->
        </tr>
        <tr>
            <td class="title">支付方式:</td>
            <td colspan="3" class="pay_way" valign="middle">
                <label class="weixin">
                    <input type="checkbox" name="name_pay_way_1494651781" class="value hand" value="2" />微信　&nbsp;
                </label>
                <label>
                    <input type="checkbox" name="name_pay_way_1494651781" class="value hand" value="1" />现金
                </label>
            </td>
        </tr>
        <tr>
            <td class="title">下单时间:</td>
            <td colspan="3" class="order_time" valign="middle">
                <span class="value"></span>
            </td>
        </tr>
        <tr>
            <td class="title">单号:</td>
            <td colspan="3" class="order_id" valign="middle">
                <span class="value"></span>  <span class="italic red small">(<span class="order_status_txt"></span>)</span>
            </td>
        </tr>
    </table>
</div> <!-- id="id_order_1494523635" -->






<style type="text/css">
#id_order_1494498145 {
    padding: 0;
    margin: 0;
    width: 100%;
}
/*#id_order_1494498145 .split_line {
    background: gray;
    height: 0.1rem;
    margin: 1rem 0;
}*/
#id_order_1494498145 .split_line_dashed {
    border-top: 0.1rem dashed gray;
    margin: 0.3rem 0;
}
#id_order_1494498145 td {
    padding: 0.2rem;
    text-align: left;
}
#id_order_1494498145 .line {
    color: #2B8106;
}
#id_order_1494498145 .food_name {
    font-size: 1.6rem;
}
#id_order_1494498145 .food_price {
    font-size: 1.4rem;
}
#id_order_1494498145 .food_num .value {
    margin-left: 0.1rem;
}

#id_order_1494498145 .seat_name,
#id_order_1494498145 .customer_num {
    font-size: 1.4rem;
}
#id_order_1494498145 fieldset {
    border-width: 0.2rem;
    border-style: dashed;
    padding: 0 0.50073rem;
}
#id_order_1494498145 fieldset legend {
    font-size: 1.60037rem;
    padding: 0.20075rem;
}
#id_order_1494498145 .order_food_list,
#id_order_1494498145 .order_other_list {
    max-height: 50.032rem;
    overflow-x: hidden;
    overflow-y: auto;
}
</style>
<div id="id_order_1494498145">
<div class="split_line"></div>
<fieldset>
<legend>已点餐品（数量: <span id="id_food_num_all_1497374266"></span>份,
       总价: ￥<span id="id_food_price_all_1497374266"></span>）
</legend>
<div class="order_food_list">
<table border="0" width="100%">
    <!-- 模板 -->
    <script id="tp_order_food_list" type="text/html">
    {{each list as item i}}
    {{if i > 0}}
    <tr class="line">
        <td colspan="3">
            <div class="split_line_dashed"></div>
        </td>
    </tr>
    {{/if}}
    <tr class="line">
        <td width="71.55%">
            <div class="food_name">
                <span class="value">{{item.food_name}}</span>
            </div>
            <div class="food_price">
                ￥<span class="value">{{item.food_price}}</span>
            </div>
        </td>
        <td>
            <div class="food_num">
                ×<span class="value">{{item.food_num}}</span>
            </div>
        </td>
        <td width="5%">
            <div class="food_price_all">
                ￥<span class="value">{{item.food_price_sum}}</span>
            </div>
        </td>
    </tr>
    {{/each}}
    </script>
</table>
</div>
</fieldset>


<fieldset id="id_1497378407">
<legend>其它（数量: <span id="id_other_num_all_1497374360"></span>份,
       总价: ￥<span id="id_other_price_all_1497374360"></span>）
</legend>
<div class="order_other_list">
<table border="0" width="100%">
    <!-- 模板 -->
    <script id="tp_order_other_list" type="text/html">
    {{each list as item i}}
    {{if i > 0}}
    <tr class="line">
        <td colspan="3">
            <div class="split_line_dashed"></div>
        </td>
    </tr>
    {{/if}}
    <tr class="line">
        <td width="71.55%">
            <div class="food_name">
                <span class="value">{{item.food_name}}</span>
            </div>
            <div class="food_price">
                ￥<span class="value">{{item.food_price}}</span>
            </div>
        </td>
        <td>
            <div class="food_num">
                ×<span class="value">{{item.food_num}}</span>
            </div>
        </td>
        <td width="5%">
            <div class="food_price_all">
                ￥<span class="value">{{item.food_price_sum}}</span>
            </div>
        </td>
    </tr>
    {{/each}}
    </script>
</table>
</div>
</fieldset>


<style type="text/css">
#id_order_1494498145 .ctrl {
    margin-top: 0.6073rem;
    text-align: right;
}
#id_order_1494498145 .ctrl .doing {
    text-align: left;
    margin-top: 0.6087rem;
    width: 22.3rem;
}
#id_order_1494498145 .ctrl .ok,
#id_order_1494498145 .ctrl .close {
    margin: 0 0.2032rem;
    padding: 0.1018rem 0.5076rem;
    font-size: 1.40386rem;
}
#id_order_detail_box .order_sum {
    margin-top: 0.3031rem;
}
#id_order_detail_box .order_sum .title {
    margin-left: 2.073rem;
}
</style>
<div class="order_sum">
    <span class="title">总计: </span><span id="id_order_fee_1497446627">0</span>元
    <span class="title">减免: </span><span id="id_order_waiver_fee_1497541300">0</span>元
    <span class="title">应付: </span><span id="id_order_payable_1497541311">0</span>元
</div>
<div class="ctrl line_break">
    <!-- <span id="id_doing_1498213101" class="doing align_left"></span> -->
    <input type="button" class="ok hand hide" value="提交" />
    <input type="button" class="close hand hide" value="返回" />
</div>
</div> <!-- id="id_order_1494498145" -->
<div style="clear:both"></div>

</div><!-- <div class="box"> -->
</div><!-- id="id_order_detail_box" -->

