/*
 * 颜色选择：http://www.xuwei.so/Test/ColorPicker/index.html
 *
 *   border: 1px solid #DEDEDE;  solid|dashed
 *   background-color: #F4FFF2;
 *   filter:alpha(opacity=30); opacity:0.3;
 *   white-space:nowrap;
 *   border-radius:5px;  圆角
 *   overflow:scroll|hidden|auto|inherit;
 */
html {
    font-size:62.5%; /*10 ÷ 16 × 100% = 62.5% | font-size:16px; */
}
body {
    position:absolute;
    font-size:1.6rem;  /* 16px */
    margin: 0px;
    padding: 0px;
    width:100%;
    height:100%;
    /*overflow: hidden;*/
}
fieldset {
    border-width: 0.1rem;
    border-color: #a5d0a5;
    padding: 0.1042rem 1.20393rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
}
fieldset legend {
    padding: 0.200945rem;
}
label{
    cursor: pointer;
}
input, button {
    /*border: 1px solid gray;*/
    padding-left: 0.0.68592rem;
    padding-right: 0.0.68592rem;
    font-size: 1.50732rem;
}
input[readonly], input[disabled],
button[readonly], button[disabled] {
    /*border: 2px solid gray;
    background-color: #FFFFFF;
    color: #000000;*/
}
input[type=checkbox],
input[type=radio] {
    width: 1.6086944rem;
    height: 1.6086944rem;
}

/*斜体*/
.italic {
    font-style: italic;
}

/*粗体*/
.bold {
    font-weight: bold;
}

.small {
    font-size: smaller;
}
.small_x {
    font-size: x-small;
}
.small_xx {
    font-size: xx-small;
}

.size8 {
    font-size: 8px;
}
.size12 {
    font-size: 12px;
}
.size14 {
    font-size: 14px;
}
.size16 {
    font-size: 16px;
}
.size24 {
    font-size: 24px;
}

/*可编辑*/
.edit_on {
    background: #FFFACD;
}

.red {
    color: red;
}
.blue {
    color: blue;
}
.green {
    color: green;
}
.bg_red {
    background: red;
}
.bg_gray1 {
    background: #F5F5F0;
}
.bg_yellow {
    background: yellow;
}

.gray {
    color: gray;
}
.gray1 {
    color: #BBBBBB;
}

.hand{
    /*cursor: hand;*/
    cursor: pointer;
}

.hide{
    display: none;
}

a{
    text-decoration:none;
    color:#000000;
}
a:hover{
    text-decoration:none;
    color:green;
}

/*自动换行*/
.line_break{
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}

/*强制不换行*/
.line_not_break{
    white-space:nowrap;
}

.table_hover tr:hover {
    background:#F1E1FF;
}
.table_head th{
    background-color: #CDCDC0;
    white-space: nowrap;
    padding: 3px;
    font-weight: bold;
}
/*已删除的行*/
.table_tr_del{
    color: #9B9495;
    background: #E2E2E2;
    font-style: italic;
    text-decoration: line-through;
}
.txt_left{
    text-align: left;
}

.txt_center{
    text-align: center;
}

.txt_right{
    text-align: right;
}

.align_left{
    float:left;
}
.align_right{
    float:right;
}

.float_left{
    float:left;
}
.float_right{
    float:right;
}

/********************菜单相关设置begin********************/
.menu {
    display: block;
    border:1px solid #CCCCC6;
    background:#FFFFFF;
    cursor:pointer;
    /*z-index:1001;*/
    /*display:none;*/
}
.menu ul {
    list-style:none;
    cursor:pointer;
    margin:0;
    padding:0;
    float:left;
    /*text-align:center;*/
    min-width:100px;
}
.menu li {
    margin:2px;
    padding:1px;
    padding-left:3px;
    background:#F3F3F3;
}
.menu li:hover {
    background:#E2E2E2;
}
.menu li.selected {
    font-weight:bold;
    color: green;
    background:#E2E2E2;
}
/********************菜单相关设置end********************/

/********************弹出框设置begin********************/
.popup_box {
    position: absolute;
    display: block;
    margin: 0;
    padding: 5px;
    background: #FFFFFF
}
/********************弹出框设置end********************/
