@charset "utf-8";

body {
	line-height:1.25;
	background-color: #f9f9f9;
}
h1 {
	margin:0;
	font-size:1.4em;
	color:#ffffff;
	margin-left:-30px;
	padding-left:10px;
}
h2 {
	margin-top:10;
	font-size:1.1em;
	font-weight:bold;
	margin-left:-30px;

}
div.header {
	background-image: url(images/header.gif);
	padding-top:15px;
	padding-bottom:15px;
}
div.contents {
	background-image: url(images/shadow_underbar.gif);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #f9f9f9;
}
div.inner {
	padding-top:8px;
	padding-bottom:8px;
	padding-left:50px;
	padding-right:50px;
}
div.txt {
	font-size:1.6em;
	padding-bottom:5px;
	color:#3f3b3a;
}
div.img {
	padding-top: 20px;
	padding-bottom:2px;
	text-align:left;
}
div.note {
	background-color: #eef2f5;
	border: 1px solid #ccc;
	padding: 0.4em;
	margin-top: 1em;
	margin-bottom: 2em;
	color:#3f3b3a;
}
div.notetext {
	padding: 0.4em;
	color:#3f3b3a;
}
dl {
	margin:0;
	padding:0;
	padding-top:20px;
	background-repeat: repeat-x;
	background-position: left bottom;
}
dt {
	width:0.7em;
	text-align:left;
	font-size:2.2em;
	font-weight:bold;
	line-height:0.5em;
	color:#3851ce;
}
dd {
	margin-top:-1.3em;
	padding-left:1.6em;
	display: inline-block;
}
dd:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
span {
	font-weight:bold;
}
span.note {
	font-weight:bold;
	font-size:1.1em;
	color:#3f3b3a;
}
p.lead {
	font-size:1.1em;
	font-weight:bold;
	margin-left:12px;
}